input[type="text"], select, textarea {
    font-size: 18px;
    font-family: inherit;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    color: black;
    box-sizing: border-box;
    cursor: pointer;
}

.upload-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--theme);
    overflow: hidden;
}

.upload-box {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 290px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-content {
    position: relative;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inp {
    position: relative;
    height: 30%;
}

.line {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--theme);
    animation: appear 0.7s ease-out;
}

.language {
    position: relative;
    height: 35px;
    width: 60%;
    left: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: translateX(-50%);
}

.preview {
    min-width: 640px;
    height: 375px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.preview-container {
    position: absolute;
    top: 47%;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.description {
    color: white;
    font-size: 20px;
    font-family: inherit;
    word-break: break-word;
    white-space: break-spaces;
    padding: 10px;
}

.preview-top {
    position: relative;
    width: 90%;
    left: 5%;
    top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: wheat;
    border-radius: 5px;
    height: 15%;
}

.preview-title {
    border-bottom: 3px solid black;
}

.preview-bottom {
    position: relative;
    height: 70%;
    width: 90%;
    left: 5%;
    top: 10%;
}

.preview-args {
    position: relative;
    height: 86%;
    width: 90%;
    left: 5%;
    top: 7%;
    background: wheat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: scroll;
}

.arg-preview {
    position: relative;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arg-preview * {
    margin-right: 10px;
}

.add {
    position: absolute;
    top: 45%;
    right: 26%;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.arguments {
    position: absolute;
    bottom: 6%;
    left: 12%;
    width: 76%;
    height: 12%;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: scroll;
}


.language {
    position: relative;
    margin-top: 80px;
    margin-left: -80px;
}

.solution-editor {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 60%;
    margin-top: 10px;
    background: wheat;
}

.passed {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    color: white;
}


.title123 {
    position: relative;
    width: 90%;
    left: 5%;
    top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title123 * {
    margin-top: 8px;
}



.submit-button {
    position: absolute;
    top: 2.5%;
    right: 3%;
}

.report {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.report-content {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 370px;
    background: wheat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: auto;
}

.report-general {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-report {
    width: 90%;
}


.report-arguments {
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: scroll;
}

.report-left {
    position: relative;
    left: -40%;
    transform: translateX(50%);
}

.report-footer {
    position: relative;
    top: 50px;
    left: 10%;
    width: 80%;
    height: 180px;
}

.title {
    position: relative;
    width: 90%;
    left: 5%;
    top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title * {
    margin-top: 8px;
}


.arg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: wheat;
    margin: 10px;
    height: 100%;
    border-radius: 10px;
    padding: 0 5px;
}


.popup-shadow {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
}



@keyframes appear {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
